.jobby-app-image {
  width: 125px;
  height: 40px;
  margin-top: 45px;
  align-self: center;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c364c;
  max-height: 80px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding: 15px 0px 25px 0px;
}

.div-sub-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-self: center;
}

.nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin-right: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  margin-top: 10px;
  margin-right: 10px;
}

.button-login {
  background-color: #6366f1;
  color: #ffffff;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  padding: 2px;
  font-size: 12px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
}
